EXPORTATION DE JEUX DE DONNEES :

In [ ]:
import pandas as pd
import numpy as np

In [ ]:
DATASET_FILE = "./dataset_cleaned.csv"

In [5]:
dataset_df = pd.read_csv(DATASET_FILE)
dataset_df

,text,stars,length,text_cleaned
0,I've only had food from here once and it wasn'...,1,68,food memorable panang curry balance flavor lik...
1,I will never return here again. Ever. I was ...,1,87,NOT_return ever sit booth wait dinner come scu...
2,I wish my experience was great as others. I di...,1,166,wish experience great others din wednesday nig...
3,Are the rosemary grapefruit scones supposed to...,1,81,rosemary grapefruit scone suppose taste like w...
4,Our takeout order was half wrong. Food was mis...,1,32,takeout order half wrong food miss portion siz...
...,...,...,...,...
982,wonderful food. Racist owner. I was the only p...,1,115,wonderful food racist owner person color placs...
983,sorry but I have to say it was scummy. The men...,1,106,sorry say scummy menu tattered fingerprint bod...
984,I love Papa Gino's pizza for the thin crust an...,1,77,love papa gino pizza thin crust tasty sauce ha...
985,Ordered at 7:30. Called at 8:40 to find out wh...,1,92,ordered 7 30 called 8 40 find order lady say g...
986,"Yelp disappointment! Bland, dry tasteless low ...",1,157,yelp disappointment bland dry tasteless low qu...

In [6]:
# having a datafarme containing negative data

Negative_data = dataset_df[(dataset_df['stars'] == 1) | (dataset_df['stars'] == 2)]

Neg_DF = pd.DataFrame(columns=['text_cleaned','stars','length'])
Neg_DF.text_cleaned= Negative_data.text_cleaned
Neg_DF.stars= Negative_data.stars
Neg_DF.length= Negative_data.length
Neg_DF.index=range(len(Negative_data))
print(Neg_DF)

                                          text_cleaned  stars  length
0    food memorable panang curry balance flavor lik...      1      68
1    NOT_return ever sit booth wait dinner come scu...      1      87
2    wish experience great others din wednesday nig...      1     166
3    rosemary grapefruit scone suppose taste like w...      1      81
4    takeout order half wrong food miss portion siz...      1      32
..                                                 ...    ...     ...
982  wonderful food racist owner person color placs...      1     115
983  sorry say scummy menu tattered fingerprint bod...      1     106
984  love papa gino pizza thin crust tasty sauce ha...      1      77
985  ordered 7 30 called 8 40 find order lady say g...      1      92
986  yelp disappointment bland dry tasteless low qu...      1     157

[987 rows x 3 columns]

**vectorize the preprocessed dataset.**

In [7]:
from sklearn.feature_extraction.text import TfidfVectorizer

corpus = Neg_DF.text_cleaned
vectorizer = TfidfVectorizer(max_df=0.8, min_df=0.01)
X = vectorizer.fit_transform(corpus)
vectorizer.get_feature_names_out()
#10 000
print(X.shape)
print(X)

(987, 899)
  (0, 697)	0.17797854609304445
  (0, 594)	0.10641507431762304
  (0, 864)	0.15895661981290693
  (0, 176)	0.19760184505749404
  (0, 40)	0.19909447364646843
  (0, 242)	0.14261442535461993
  (0, 791)	0.5658344162892383
  (0, 571)	0.21275731684254115
  (0, 133)	0.22705266475407107
  (0, 777)	0.25402140714849575
  (0, 858)	0.1647344172148307
  (0, 550)	0.22459786524741146
  (0, 405)	0.2500751647638379
  (0, 783)	0.1647344172148307
  (0, 420)	0.11923448787789288
  (0, 305)	0.23095244193123193
  (0, 196)	0.286481276714377
  (0, 310)	0.1852300672523059
  (1, 223)	0.1891348787932744
  (1, 361)	0.24108104570699496
  (1, 139)	0.23460934681976572
  (1, 202)	0.19895156527299918
  (1, 618)	0.2017790323543342
  (1, 552)	0.1891348787932744
  (1, 685)	0.10372583705368148
  :	:
  (986, 592)	0.10488505737364272
  (986, 598)	0.20029475591364668
  (986, 624)	0.09971711883380628
  (986, 164)	0.13909216308359998
  (986, 465)	0.2648845891702956
  (986, 840)	0.09231920467251839
  (986, 157)	0.13555887529171984
  (986, 456)	0.313113743899023
  (986, 358)	0.10194198780060137
  (986, 684)	0.10386722600248299
  (986, 557)	0.06324953565112564
  (986, 437)	0.1324422945851478
  (986, 130)	0.13555887529171984
  (986, 70)	0.062298762001268125
  (986, 237)	0.3211388607317182
  (986, 674)	0.10704628691057273
  (986, 682)	0.09468029197386255
  (986, 784)	0.1259562678055204
  (986, 95)	0.20296359229663918
  (986, 563)	0.05132899224552405
  (986, 829)	0.17055570209144588
  (986, 151)	0.2558335531371688
  (986, 594)	0.05098844246055142
  (986, 242)	0.1366664914321148
  (986, 310)	0.04437619710656999

In [8]:
# Create data-frame of Doc-Term Matrix with review text as column names
data_dtm_text = pd.DataFrame(X.toarray(), columns=vectorizer.get_feature_names_out())
# Set President's Names as Index
data_dtm_text.index = Neg_DF.index
# Visually inspect Document Term Matrix
data_dtm_text.head()

,00,10,100,11,12,14,15,18,20,25,...,write,wrong,year,yell,yelp,yes,yesterday,yet,young,zero
0,0.0,0.000000,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.000000,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1,0.0,0.000000,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.000000,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,0.0,0.000000,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.000000,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,0.0,0.000000,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.000000,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,0.0,0.378164,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.438622,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

**train the topic modeling model**

In [9]:
#Display Topics 
def display_topics(model, feature_names, num_top_words,topic_names=None):
    # iterate through topics in topic-term matrix, 'H' aka
    # model.components_
  for ix, topic in enumerate(model.components_):

  #print topic, topic number, and top words
    if not topic_names or not topic_names[ix]:
      print("\nTopic ", ix)
    else:
      print("\nTopic: '",topic_names[ix],"'")
    print(", ".join([feature_names[i] \
    for i in topic.argsort()[:-num_top_words - 1:-1]]))

In [10]:
from sklearn.decomposition import NMF

In [11]:
nmf_model = NMF(15)
doc_topic = nmf_model.fit_transform(data_dtm_text)
display_topics(nmf_model, vectorizer.get_feature_names(), 5)

/usr/local/lib/python3.7/dist-packages/sklearn/decomposition/_nmf.py:294: FutureWarning: The 'init' value, when 'init=None' and n_components is less than n_samples and n_features, will be changed from 'nndsvd' to 'nndsvda' in 1.1 (renaming of 0.26).
  FutureWarning,

Topic  0
come, ask, server, back, take

Topic  1
like, taste, rice, soup, fish

Topic  2
order, call, delivery, hour, phone

Topic  3
wait, minute, table, seat, 20

Topic  4
food, get, good, go, eat

Topic  5
pizza, crust, bread, cheese, slice

Topic  6
place, good, want, like, eat

Topic  7
time, location, first, last, second

Topic  8
restaurant, would, dinner, many, waiter

Topic  9
go, say, get, bar, give

Topic  10
chicken, get, fried, sauce, wing

Topic  11
burger, fry, get, bacon, order

Topic  12
service, terrible, customer, horrible, even

Topic  13
hotel, room, stay, desk, front

Topic  14
bad, ever, worst, service, attitude

/usr/local/lib/python3.7/dist-packages/sklearn/decomposition/_nmf.py:1641: ConvergenceWarning: Maximum number of iterations 200 reached. Increase it to improve convergence.
  ConvergenceWarning,
/usr/local/lib/python3.7/dist-packages/sklearn/utils/deprecation.py:87: FutureWarning: Function get_feature_names is deprecated; get_feature_names is deprecated in 1.0 and will be removed in 1.2. Please use get_feature_names_out instead.
  warnings.warn(msg, category=FutureWarning)

In [12]:
#Dictionnaire de topic en fonction de son theme
mon_dictionnaire={0:"Unadmirable place",1:"Insufficient quantity of meal",2:"Pizza",3:"Wrong delivery",4:"Slow service",5:"Service staff",6:"burger dish",7:"waiting time",8:"chicken dish",9:"evening",10:"location",11:"Unsatisfied customer",12:"Full menu request",13:"seafood menu request",14:"wonderful meal"}
print(mon_dictionnaire)

{0: 'Unadmirable place', 1: 'Insufficient quantity of meal', 2: 'Pizza', 3: 'Wrong delivery', 4: 'Slow service', 5: 'Service staff', 6: 'burger dish', 7: 'waiting time', 8: 'chicken dish', 9: 'evening', 10: 'location', 11: 'Unsatisfied customer', 12: 'Full menu request', 13: 'seafood menu request', 14: 'wonderful meal'}

In [13]:
#Conversion du matrice de correlation des reviews avec les 15 topics en dataframe
df_doc_topic = pd.DataFrame(doc_topic)
print(df_doc_topic)

           0         1         2         3         4         5         6   \
0    0.000000  0.147661  0.000000  0.000000  0.105784  0.000000  0.064555
1    0.012582  0.000000  0.000000  0.044862  0.002181  0.001544  0.000000
2    0.054281  0.049169  0.000000  0.000000  0.038408  0.000000  0.000000
3    0.000000  0.130283  0.000000  0.006835  0.000000  0.003861  0.021041
4    0.000000  0.000060  0.083912  0.024204  0.046414  0.000000  0.054985
..        ...       ...       ...       ...       ...       ...       ...
982  0.000000  0.000000  0.000000  0.010069  0.026564  0.000000  0.020866
983  0.016042  0.000000  0.000000  0.014315  0.114901  0.000220  0.033677
984  0.000000  0.015839  0.000000  0.000000  0.001161  0.134721  0.000000
985  0.000000  0.000000  0.173088  0.044726  0.000000  0.087540  0.000000
986  0.000000  0.106918  0.001959  0.000000  0.029481  0.011068  0.011309

           7         8         9         10        11        12        13  \
0    0.000000  0.001537  0.000000  0.000000  0.000000  0.000000  0.000000
1    0.000000  0.014216  0.016827  0.000000  0.000000  0.000000  0.171754
2    0.000000  0.005923  0.054925  0.093058  0.012192  0.000000  0.006749
3    0.021554  0.001997  0.072141  0.000000  0.000000  0.003277  0.000000
4    0.003696  0.032968  0.000000  0.001632  0.007617  0.000000  0.000000
..        ...       ...       ...       ...       ...       ...       ...
982  0.000000  0.065653  0.063092  0.000000  0.000000  0.010633  0.008719
983  0.009036  0.053608  0.097316  0.025433  0.006319  0.000000  0.000000
984  0.099986  0.000000  0.080373  0.004394  0.021795  0.003765  0.000000
985  0.035011  0.000000  0.078142  0.000000  0.000000  0.000000  0.000000
986  0.000000  0.000000  0.000000  0.181195  0.000000  0.000000  0.000000

           14
0    0.000000
1    0.028101
2    0.000000
3    0.000000
4    0.000000
..        ...
982  0.000000
983  0.000000
984  0.000000
985  0.000000
986  0.021305

[987 rows x 15 columns]

visualize the topics detected as well
only the most relevant documents for each topic

In [14]:
dict={}
for i in range(15):
  top3=df_doc_topic.nlargest(3,i,keep='all')
   #print(top3)
  topIndexes=top3[0].keys().tolist()
  print(topIndexes)
  dict[i]=Neg_DF['text_cleaned'][topIndexes].tolist()
dfff = pd.DataFrame(dict)
dfff

[767, 466, 858]
[261, 78, 601]
[472, 521, 300]
[724, 959, 539]
[33, 398, 931]
[976, 817, 243]
[123, 920, 656]
[880, 111, 710]
[890, 120, 66]
[167, 318, 607]
[714, 611, 818]
[732, 975, 367]
[581, 771, 620]
[313, 811, 500]
[647, 375, 888]

,0,1,2,3,4,5,6,7,8,9,10,11,12,13,14
0,bad experience first server rude second bring ...,disgusting bland kitchen look small apartment ...,give la mamma three chance strike time first t...,waiting seat tell 20 min wait NOT_big deal fat...,go lunch get food poison food know whether sus...,worst dominos pizza experience ever order pizz...,cannot recomend place anti gun value safety pl...,good crepe vietnemeesecoffee sadly first time ...,stopped dinner find bingo hall leave go real r...,short version unjustly call c nt bouncer two s...,ordered chicken shawarma guess inside wrap rea...,second time three trip wahlburger lynnfield bu...,terrible keep service even crowd slow need shu...,recently stay hyatt horrible experience say st...,bad noodle ever NOT_real bowl miso soup base o...
1,across street convention center easy place hea...,recently move area look decent chinese food pl...,NOT_eat anything rosie NOT_will complaint cust...,absolutely horrid service sat table 15 minute ...,love place come often recent visit win go extr...,could leave zero star would reality pizza good...,place use cool chill place bunch neanderthal b...,poor service mediocre food beer 4 5 time every...,rude server NOT_baby friendly restaurant NOT_r...,labor day sign say open happy place go lady co...,place make fail NOT_matter bad crave taco bell...,employees obviously NOT_that bright mess order...,horrible service NOT_in good mood favorite cho...,2 night stay bearable sum detail read husband ...,food NOT_be catogorized asian food worst ever ...
2,NOT_impressed cheese stix come cold nacho come...,many year ago friend bring one vegetarian dosa...,try call ahead order sub work area NOT_have ti...,bad possible service ever receive wait 25 minu...,food average selection disappointment review s...,chewy crust pizza NOT_like wood fire pizza 18 ...,place terrible mother part india owner place f...,NOT_go place go either three time first time k...,use favorite restaurant lakeway unfortunately ...,eat come one night friend 21st birthday party ...,really look forward great chicken base review ...,omg bad uburger experience ever happen scoop c...,terrible terrible service server even glance o...,roach hotel beware stood week ago family find ...,absolutely bad biscuit gravy ever expose offen...

In [15]:
import pickle
pickle.dump(vectorizer, open('vectorizer_Model.pkl', 'wb'))

In [16]:
pickle.dump(nmf_model, open('NMF_Model.pkl', 'wb'))